.search-form {
	.pt-label {
		display:inline-block;
		margin-right:20px;
		width: 200px;
		.pt-input {
			width: 200px;
		}
	}
}
.header-container {
	height:154px;
	.header{
		height: 110px;
		background-image: url(/src/assets/images/banner2.png), url(/src/assets/images/banner1.png);
		background-repeat: no-repeat, no-repeat;
		background-position: right, left;
		background-color: rgba(9, 101, 243, 0.8);
	}
	.menu-container {
		background:#1e62ca;
		height:44px;
	}
}

.footer-container {
	background:#1e62ca;
	height:92px;
	text-align:center;
	font-size:14px;
	color:#ffffff;
	padding: 24px 0;
	.title {	
		text-transform: uppercase;
		padding-bottom: 6px;
	}
	.address {	
		font-weight: 300;
	}
}